@font-face {
	font-family: "Mont ExtraLight";
	src: url('../fonts/Mont-ExtraLight.otf');
}

@font-face {
	font-family: "Mont Heavy";
	src: url('../fonts/Mont-Heavy.otf');
}

@font-face {
	font-family: "Poppins Black";
	src: url('../fonts/Poppins-Black.ttf');
}

@font-face {
	font-family: "Poppins Black Italic";
	src: url('../fonts/Poppins-BlackItalic.ttf');
}

@font-face {
	font-family: "Poppins Bold";
	src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: "Poppin Bold Italic";
	src: url('../fonts/Poppins-BoldItalic.ttf');
}

@font-face {
	font-family: "Poppins ExtraBold";
	src: url('../fonts/Poppins-ExtraBold.ttf');
}

@font-face {
	font-family: "Poppins Extra Bold Italic";
	src: url('../fonts/Poppins-ExtraBold.ttf');
}

@font-face {
	font-family: "Poppins Extra Light";
	src: url('../fonts/Poppins-ExtraLight.ttf');
}

@font-face {
	font-family: "Poppins Extra Light Italic";
	src: url('../fonts/Poppins-ExtraLightItalic.ttf');
}

@font-face {
	font-family: "Poppins Italic";
	src: url('../fonts/Poppins-Italic.ttf');
}

@font-face {
	font-family: "Poppins Light";
	src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
	font-family: "Poppins Light Italic";
	src: url('../fonts/Poppins-LightItalic.ttf');
}

@font-face {
	font-family: "Poppins Medium";
	src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: "Poppins Medium Italic";
	src: url('../fonts/Poppins-MediumItalic.ttf');
}

@font-face {
	font-family: "Poppins Regular";
	src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: "Poppins SemiBold";
	src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: "Poppins Semi Bold Italic";
	src: url('../fonts/Poppins-SemiBoldItalic.ttf');
}

@font-face {
	font-family: "Poppins Thin";
	src: url('../fonts/Poppins-Thin.ttf');
}

@font-face {
	font-family: "Poppins Thin Italic";
	src: url('../fonts/Poppins Thin Italic.ttf');
}

@import "tailwindcss/base";
@import "tailwindcss/components";

/* a {
	@apply text-bnpp-green;
} */

*::selection {
    background: #a5a5a5;
    color: #ffffff;
}

.text-shadow {
	text-shadow: 0 0 10px rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.6);
}

body {
	background: #999 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImNpcmNsZSIgY3k9ImZhcnRoZXN0LXNpZGUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background: #1a1a1a -moz-radial-gradient(circle farthest-side, #1a1a1a, #111111);
	background: #1a1a1a -webkit-radial-gradient(circle farthest-side, #1a1a1a, #111111);
	background: #1a1a1a radial-gradient(circle farthest-side, #1a1a1a, #111111);
	transition: all .5s ease;
  }

  #circle-r-small {
	-webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation-timing-function: cubic-bezier(.6, 0, .4, 1);
	animation-delay: 0s;
	position: absolute;
	z-index: -1;
	bottom: -150px;
	right: -150px;
	background: #fff;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	opacity: 0.1;
}

#circle-r-medium {
	-webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation-timing-function: cubic-bezier(.6, 0, .4, 1);
	animation-delay: 0.3s;
	position: absolute;
	z-index: -1;
	bottom: -300px; 
	right: -300px;
	background: #fff;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	opacity: 0.1;
}

#circle-r-large {
	-webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation-timing-function: cubic-bezier(.6, 0, .4, 1);
	animation-delay: 0.6s;
	position: absolute;
	z-index: -1;
	bottom: -450px; 
	right: -450px;
	background: #fff;
	width: 900px;
	height: 900px;
	border-radius: 50%;
	opacity: 0.1;
}

#circle-l-large {
    -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation-timing-function: cubic-bezier(.6, 0, .4, 1);
	animation-delay: 0.6s;
	position: absolute;
	z-index: -1;
	top: -550px;
	left: -825px;
    background: #fff;
    width: 900px;
    height: 900px;
    border-radius: 50%;
	transition: opacity .5s ease;
}

#circle-l-xlarge {
    -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation-timing-function: cubic-bezier(.6, 0, .4, 1);
	animation-delay: 0.9s;
	position: absolute;
	z-index: -1;
	top: -650px;
	left: -1000px;
    background: #fff;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
	transition: opacity .4s ease;
}

#circle-l-xxlarge {
    -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation: circle-small-scale 3s ease-in-out infinite alternate;
	animation-timing-function: cubic-bezier(.6, 0, .4, 1);
	animation-delay: 1.2s;
	position: absolute;
	z-index: -1;
	top: -800px;
	left: -1150px;
    background: #fff;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
	transition: opacity .3s ease;
}

@-webkit-keyframes circle-small-scale {
    0% {
        -webkit-transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(1.1);
    }
}

@keyframes circle-small-scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

@import "tailwindcss/utilities";